.app {
  background-color: var(--yellow);
}

.card {
  width: 384px;
  background-color: var(--white);
  padding: var(--300);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--300);
  border: 1px solid var(--gray-950);
  letter-spacing: 0px;
  line-height: 150%;
  box-shadow: 8px 8px 0px var(--gray-950);
}

.image img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--150);
}

.content:hover,
.content:active,
.content:focus {
  cursor: pointer;

  :nth-child(3) {
    color: var(--yellow) !important;
  }
}

.content .badge {
  display: flex;
  border: none;
  width: fit-content;
  justify-content: center;
  border-radius: var(--50);
  background: var(--yellow);
  padding: var(--50) var(--150);

  font-size: 14px;
  line-height: 150%;
  font-weight: bolder;
  color: var(--gray-950);
}

.content :nth-child(2) {
  font-size: 14px;
  color: black;
}

.content :nth-child(3) {
  color: var(--gray-950);
  font-weight: 800;
  font-size: 24px;
  transition: color 0.2s ease; /* Transição suave */
}

.content :nth-child(4) {
  font-size: 18px;
  color: var(--gray-500);
}

.author-info {
  display: flex;
  gap: var(--150);
  align-items: center;
}

.author-info img {
  border-radius: 100%;
}

.author-info span {
  font-weight: 800;
}